body{
    background-image: url(../img/background.jpg);
    background-size: cover;
    font-family: 'Kanit', sans-serif;
}
.block{
    height: 600px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    margin-top: 10%;
    padding-top: 30px;
    text-align: center;
    
    color: white;
}
.user{
    width: 240px;
    height: 240px;
}
.ea{
    font-size: 60px;
}
.titles{
    font-size: 30px;
}
.description{
    color: grey;
    font-size: 20px;
}
.links{
    padding-top: 20px;
    height: 60px;
    width: 75px;
    margin-left: 10px;
    margin-right: 10px;
}